<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<h2>Hell spy searcher</h2>
<h3>Enter movie name:</h3>

<form th:action="@{/movie}" th:object="${movie}" method="post">

    Movie Name: <input type="text" th:field="*{name}"/>
    <br/>
    <br/>
    <fieldset>
        <legend>Choose your resolution</legend>
        <tr>
            <td>
                   <span th:each="resolution : ${resolutions}">
                       <input type="checkbox" name="resolutions" th:value="${resolution.type}"
                              th:checked="${resolution.flag}"/>
                       <label th:text="${resolution.type}"></label>
                   </span>
            </td>
        </tr>
    </fieldset>
    <br/>
    <fieldset>
        <legend>Choose your format</legend>
        <tr>
            <td>
                   <span th:each="formatId : ${movieFormats}">
                       <input type="checkbox" name="formatId" th:value="${formatId.type}"
                              th:checked="${formatId.flag}"/>
                       <label th:text="${formatId.type}"></label>
                   </span>
            </td>
        </tr>
    </fieldset>
    <br/>
    Language:
    <select th:field="*{languageId}">
        <div>
            <option value="none">NONE</option>
            <option value="en">EN</option>
            <option value="cz">CZ</option>
        </div>
    </select>
    <br/>
    Translating:
    <select th:field="*{translatingId}">
        <div>
            <option value="none">NONE</option>
            <option value="tit">TITLE</option>
            <option value="dab">DUBBING</option>
        </div>
    </select>
    <br/>
    No kino rip:
    <input type="checkbox" name="camrip" th:checked="false"/>
    <br/>
    <br/>
    <fieldset>
    <legend>Notify by email:</legend>
    <tr>
        <td>
            <label th:text="Enable"></label>
            <input type="checkbox" name="emailFlag" th:checked="*{emailFlag}"/><br/>
            Email: <input type="text" th:field="*{emailAddress}"/><br/>
<!--            Time of repetition: <input type="text" th:field="*{emailTimer}"/>-->
        </td>
    </tr>
    </fieldset>
    <br/>
    <br/>
    <input type="submit" value="Search">
</form>

</body>
</html>